.panel{
    display: flex;
    justify-content: space-around;
    padding-top: 1%;
    padding-bottom: 4%;
}
.counsel{
    position: fixed;
    z-index: 1;
    top: 20%;
}
.hidden{
    min-height: 100px !important;
    min-width: 100px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
}
.show{
    background-color: red;
    min-height: 200px !important;
    min-width: 500px !important;
}
.left{
    position: fixed;
    z-index: 1;
    top: 20%;
    right: 0px;
}

.text-contain{
    background-color: white;
    min-height: 200px;
    border-radius: 10px;
}

.hidden-left {
    min-height: 100px !important;
    min-width: 200px !important;
    background-color: green;
    color: white !important;
}
.show-left {
    min-height: 100px !important;
    min-width: 300px !important;
    background-color: green;
    color: white !important;
}
.card{
    display: flex;
    flex-direction: column;
    border-color: black;
}
.button-container{
    padding: 10px;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 820px){
    .grid{
        justify-content: center;
    }
    .hidden{
        min-width: 100% !important;
        min-height: 30% !important;
    }
    .show{
        min-width: 50% !important;
        min-height: 30% !important;
    }
    .hidden-left{
        min-width: 100px !important;
    }
    .show-left{
        min-width: 200px !important;
    }
    .button-container{
        padding: 10px;
        display: flex;
        justify-content: space-between;
    }
}