.card:hover{
    background-color: aliceblue;
}
.panel{
    display: grid;
    grid-column: 1 ;
    grid-row: 1;
    column-gap: 40px;
    row-gap: 40px;
    justify-items: center;
}
.grayimg{
    display: flex;
    justify-content: center;
    filter: grayscale(80%);
}
.img{
    display: flex;
    justify-content: center;
}

.button{
    background-color: #C83E4D;
    border-color: #C83E4D;
    width: 300px;
}
.button:hover{
    background-color: #A53340 !important;
    border-color: #A53340 !important;
}
