.card:hover{
    background-color: aliceblue;
}
.panel{
    display: grid;
    grid-column: 1 ;
    grid-row: 1;
    column-gap: 40px;
    row-gap: 40px;
    justify-items: center;
}
.img{
    display: flex;
    justify-content: center;
}
