/* .html{
    width: 100% !important;
    min-height: 100vh !important;
} */
body{
    min-height: 100% !important;
    margin: 0px !important;
}
h1{
    display: flex;
    justify-content: center;
}
h3{
    margin: 0;
    font-size: 25px;
}
label{
    font-size: 30px;
}
.linecenter{
    display: flex;
    justify-content: center;
}
.line{
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
.p-card.card-display{
    min-width: 500px !important;
    min-height: 450px !important;
    background-color: aliceblue;
    border-radius: 30px;
    height: fit-content;
    display: flex;
    justify-content: center;
}
.p-card.card-not-active{
    min-width: 500px !important;
    min-height: 450px !important;
    background-color: #C5C5C5;
    border-radius: 30px;
    height: fit-content;
    display: flex;
    justify-content: center;
}

.p-card.card-display:hover{
    background-color: #000080;
    color: white;
}

.p-tabview{
    color: black;
}

.p-card{
    min-width: 750px !important;
    min-height: 500px !important;
    color: black !important;
}

div#__next{
    height: 100%;
}
.p-inputtext{
    font-size: 20px !important;
}

@media screen and (max-width: 100px) {
    .main{
        width: 100%;
    }
}