body{
    min-height: 100% !important;
    margin: 0px !important;
    font-family: 'Sarabun', sans-serif !important;
    user-select: none;
}
h1{
    display: flex;
    justify-content: center;
    font-family: 'Sarabun', sans-serif !important;
}
h2{
    font-family: 'Sarabun', sans-serif !important;
}
h3{
    margin: 0;
    font-size: 25px;
    font-family: 'Sarabun', sans-serif !important;
}
label{
    font-size: 30px;
    font-weight: normal;
    font-family: 'Sarabun', sans-serif !important;
}
.linecenter{
    display: flex;
    justify-content: center;
}
.line{
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
.p-card.card-display{
    min-width: 500px !important;
    min-height: 450px !important;
    background-color: aliceblue;
    border-radius: 30px;
    height: fit-content;
    display: flex;
    justify-content: center;
}
.p-card.card-not-active{
    min-width: 500px !important;
    min-height: 450px !important;
    background-color: #C5C5C5;
    border-radius: 30px;
    height: fit-content;
    display: flex;
    justify-content: center;
}

.p-card.card-display:hover{
    background-color: #000080;
    color: white !important;
}

.p-tabview{
    color: black;
}

.p-card{
    min-width: 750px !important;
    min-height: 500px !important;
    color: black !important;
}

#__next{
    width: 100vw;
    height: auto;
}

.p-inputtext{
    font-size: 20px !important;
}
/* .p-component-overlay-enter{
    animation: none;
} */
/* .p-component-overlay-close::backdrop{
    animation: none;
} */
@media screen and (max-width: 100px) {
    .main{
        width: 100%;
    }
}