.page{
    height: 100vh;
    background-image:url('../public/login_page.jpeg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.label-text{
    display: flex;
    justify-content: flex-end;
    padding-right: 5%;
    width: 50%;
}
.label-text > label{
    font-weight: bold !important;
}
.horizon{
    display:flex;
    flex-direction: row;
    width: 100%;
    padding: 10px;
}
.button{
    background-color: #0000DC;
    border-color: #0000DC;
}
.button:hover{
    background-color: #000080 !important;
    border-color: #000080 !important;

}

@media screen and (max-width: 820) {
    .label{
        padding-left: 42%;
        width: 50%;
    }
}