.header{
    position: sticky;
    background-color: #000080;
    ;
    top: 0px;
    height: 100px;
    align-items: center;
    z-index: 2;
}
.innerHeader{
    display: flex;
    height: inherit;
    justify-content: center;
    align-items: center;
}
.profilePosition{
    position: fixed;
    top: 0px;
    right: 0px;
}

.border{
    display:flex;
    align-items: center;
    background: #000080;
    justify-content: space-between;
    width: 550px;
    border-radius: 25px;
}
.img{
    padding: 20px;
    border-radius: 100%;
}
.text{
    display: flex;
    justify-content: center;
    color: white;
}
.profileText{
    color: white;
}
.button{
    padding-right: 20px;
}